In [ ]:
def solution(info, query):
    answer = []
    return answer

In [41]:
test='구리'=='-'
if test:
    print("Y")
else:
    print("N")

N

In [ ]:
def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    isequal=inf[i]==quer[i]
    ispass=quer[i]=='-'
    
    if  or :
        if inf[1]==quer[1] or quer[1]=='-':
            if inf[2]==quer[2] or quer[2]=='-':
                if inf[3]==quer[3] or quer[3]=='-':
                    if inf[4]>=quer[4] or quer[4]=='-':
                        print(inf, quer)
                        return True
    else:
        return False

In [51]:
"- and - and - and - 150".replace("and"," ").split()

['-', '-', '-', '-', '150']

In [54]:
# 완탐

def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    if inf[0]==quer[0] or quer[0]=='-':
        if inf[1]==quer[1] or quer[1]=='-':
            if inf[2]==quer[2] or quer[2]=='-':
                if inf[3]==quer[3] or quer[3]=='-':
                    if quer[4]=='-':
                        return True
                    elif int(inf[4])>=int(quer[4]):
                        return True
    else:
        return False
    

def solution(info, query):
    answer=[0]*len(query)
    
    for q,quer in enumerate(query):
        for inf in info:
            if conds(inf, quer)==1:
                answer[q]+=1
    return answer

채점을 시작합니다.
정확성  테스트
테스트 1 〉	통과 (0.31ms, 9.69MB)
테스트 2 〉	통과 (0.27ms, 9.86MB)
테스트 3 〉	통과 (2.06ms, 9.67MB)
테스트 4 〉	통과 (16.63ms, 9.86MB)
테스트 5 〉	통과 (79.89ms, 9.86MB)
테스트 6 〉	통과 (197.39ms, 9.8MB)
테스트 7 〉	통과 (80.89ms, 10MB)
테스트 8 〉	통과 (399.04ms, 10.1MB)
테스트 9 〉	통과 (394.83ms, 10.1MB)
테스트 10 〉	통과 (404.45ms, 10.2MB)
테스트 11 〉	통과 (79.58ms, 9.66MB)
테스트 12 〉	통과 (186.34ms, 9.97MB)
테스트 13 〉	통과 (81.83ms, 10MB)
테스트 14 〉	통과 (1976.12ms, 10.2MB)
테스트 15 〉	통과 (392.67ms, 10MB)
테스트 16 〉	통과 (82.79ms, 9.69MB)
테스트 17 〉	통과 (198.36ms, 9.83MB)
테스트 18 〉	통과 (389.24ms, 10.1MB)

효율성  테스트
테스트 1 〉	실패 (시간 초과)
테스트 2 〉	실패 (시간 초과)
테스트 3 〉	실패 (시간 초과)
테스트 4 〉	실패 (시간 초과)

In [55]:
solution(["java backend junior pizza 150","python frontend senior chicken 210","python frontend senior chicken 150","cpp backend senior pizza 260","java backend junior chicken 80","python backend senior chicken 50"],
        ["java and backend and junior and pizza 100","python and frontend and senior and chicken 200","cpp and - and senior and pizza 250","- and backend and senior and - 150","- and - and - and chicken 100","- and - and - and - 150"])

[1, 1, 1, 1, 2, 4]

In [25]:
"cpp and - and senior and pizza 250".replace("and"," ").split()

['cpp', '-', 'senior', 'pizza', '250']

In [23]:
import re
re.split(" |and", "cpp and - and senior and pizza 250")

['cpp', '', '', '-', '', '', 'senior', '', '', 'pizza', '250']

In [31]:
def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    for idx in range(len(quer)):
        if quer[idx]=='-':
            quer[idx]=inf[idx]
    print(inf)
    print(quer)
    
    if inf[0]==quer[0] and inf[1]==quer[1] and inf[2]==quer[2] and inf[3]==quer[3] and inf[4]>=quer[4]:
        return True
    else:
        return False

In [45]:
def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    if inf[0]==quer[0] or quer[0]=='-':
        print(inf[0],quer[0])
        if inf[1]==quer[1] or quer[1]=='-':
            if inf[2]==quer[2] or quer[2]=='-':
                if inf[3]==quer[3] or quer[3]=='-':
                    if inf[4]>=quer[4] or quer[4]=='-':
                        print(inf[4],quer[4])
                        print(inf, quer)
                        return True
    else:
        return False

In [46]:
conds("python backend senior chicken 50","- and - and - and - 150")

python -
50 150
['python', 'backend', 'senior', 'chicken', '50'] ['-', '-', '-', '-', '150']

True

In [ ]:
['python', 'backend', 'senior', 'chicken', '50'] ['-', '-', '-', '-', '150']

In [ ]:
# conds에 F 다 추가 - 위와 비슷함
def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    if inf[0]==quer[0] or quer[0]=='-':
        if inf[1]==quer[1] or quer[1]=='-':
            if inf[2]==quer[2] or quer[2]=='-':
                if inf[3]==quer[3] or quer[3]=='-':
                    if quer[4]=='-':
                        return True
                    elif int(inf[4])>=int(quer[4]):
                        return True
                    else:
                        return False
                else:
                    return False
            else:
                return False
        else:
            return False
    else:
        return False
    

def solution(info, query):
    answer=[0]*len(query)
    
    for q,quer in enumerate(query):
        for inf in info:
            if conds(inf, quer)==1:
                answer[q]+=1
    return answer

정확성  테스트
테스트 1 〉	통과 (0.32ms, 9.76MB)
테스트 2 〉	통과 (0.67ms, 9.79MB)
테스트 3 〉	통과 (1.72ms, 9.8MB)
테스트 4 〉	통과 (15.85ms, 9.85MB)
테스트 5 〉	통과 (79.82ms, 9.87MB)
테스트 6 〉	통과 (186.69ms, 9.75MB)
테스트 7 〉	통과 (79.52ms, 9.87MB)
테스트 8 〉	통과 (356.30ms, 10.1MB)
테스트 9 〉	통과 (395.50ms, 10MB)
테스트 10 〉	통과 (400.01ms, 10.2MB)
테스트 11 〉	통과 (79.63ms, 9.94MB)
테스트 12 〉	통과 (197.27ms, 9.83MB)
테스트 13 〉	통과 (79.44ms, 10MB)
테스트 14 〉	통과 (2044.70ms, 10MB)
테스트 15 〉	통과 (392.15ms, 10MB)
테스트 16 〉	통과 (78.71ms, 9.88MB)
테스트 17 〉	통과 (196.90ms, 9.84MB)
테스트 18 〉	통과 (387.45ms, 10.1MB)
효율성  테스트
테스트 1 〉	실패 (시간 초과)
테스트 2 〉	실패 (시간 초과)
테스트 3 〉	실패 (시간 초과)
테스트 4 〉	실패 (시간 초과)

In [ ]:
# info 순서바꿈 - 위와비슷

def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    if inf[0]==quer[0] or quer[0]=='-':
        if inf[1]==quer[1] or quer[1]=='-':
            if inf[2]==quer[2] or quer[2]=='-':
                if inf[3]==quer[3] or quer[3]=='-':
                    if quer[4]=='-':
                        return True
                    elif int(inf[4])>=int(quer[4]):
                        return True
                    else:
                        return False
                else:
                    return False
            else:
                return False
        else:
            return False
    else:
        return False
    
def solution(info, query):
    answer=[0]*len(query)
    
    
    for inf in info:
        for q,quer in enumerate(query):
            if conds(inf, quer)==1:
                answer[q]+=1
    return answer

정확성  테스트
테스트 1 〉	통과 (0.33ms, 9.87MB)
테스트 2 〉	통과 (0.31ms, 9.81MB)
테스트 3 〉	통과 (2.27ms, 9.77MB)
테스트 4 〉	통과 (18.57ms, 9.85MB)
테스트 5 〉	통과 (86.49ms, 9.8MB)
테스트 6 〉	통과 (229.08ms, 9.86MB)
테스트 7 〉	통과 (88.69ms, 10MB)
테스트 8 〉	통과 (422.04ms, 10.1MB)
테스트 9 〉	통과 (403.11ms, 10.1MB)
테스트 10 〉	통과 (435.77ms, 10.1MB)
테스트 11 〉	통과 (88.55ms, 9.84MB)
테스트 12 〉	통과 (217.82ms, 9.89MB)
테스트 13 〉	통과 (82.67ms, 9.97MB)
테스트 14 〉	통과 (2028.51ms, 10.1MB)
테스트 15 〉	통과 (427.54ms, 10.1MB)
테스트 16 〉	통과 (87.12ms, 9.77MB)
테스트 17 〉	통과 (218.89ms, 9.92MB)
테스트 18 〉	통과 (426.36ms, 10.1MB)

In [ ]:
def conds(inf, quer):
    inf=inf.split()
    quer=quer.replace("and"," ").split()
    
    if inf[0]==quer[0] or quer[0]=='-':
        if inf[1]==quer[1] or quer[1]=='-':
            if inf[2]==quer[2] or quer[2]=='-':
                if inf[3]==quer[3] or quer[3]=='-':
                    if quer[4]=='-':
                        return True
                    elif int(inf[4])>=int(quer[4]):
                        return True
                    else:
                        return False
                else:
                    return False
            else:
                return False
        else:
            return False
    else:
        return False
    
def solution(info, query):
    answer=[0]*len(query)
    
    
    for inf in info:
        for q,quer in enumerate(query):
            if conds(inf, quer)==1:
                answer[q]+=1
    return answer

In [146]:
# pandas

def solution(info, query):
    import pandas as pd
    import numpy as np
    
    info=pd.Series(info)
    info=pd.DataFrame(info.str.split().tolist(), columns=['언어','직군','경력','소울푸드','점수'])
    info.점수=info.점수.astype('int')
    
    answer=[]
    
    for q,quer in enumerate(query):
        temp=info
        quer=quer.replace("and"," ").split()
#         quer=map(replace("-",""), quer)
        sit=np.where(np.array(quer)=='-')[0]
        if q not in sit:
            temp=temp[temp[[q]]==q]
        
        print(temp)
    
#         if quer[0]=='-': cond0=True
#         else: cond0=info.언어==quer[0]
#         if quer[1]=='-': cond1=True
#         else: cond1=info.직군==quer[1]
#         if quer[2]=='-': cond2=True
#         else: cond2=info.경력==quer[2]
#         if quer[3]=='-': cond3=True
#         else: cond3=info.소울푸드==quer[3]
#         if quer[4]=='-': cond4=True
#         else: cond4=int(quer[4])>=info.점수
            
#         cond=cond0 and cond1 and cond2 and cond3 and cond4
#         cond=cond0=info.언어==quer[0]
#         print(info[cond])
#         answer.append(len(info[cond]))
#         if conds(inf, quer)==1:
#             answer[q]+=1
    return answer

In [185]:
info=["java backend junior pizza 150","python frontend senior chicken 210","python frontend senior chicken 150","cpp backend senior pizza 260","java backend junior chicken 80","python backend senior chicken 50"]
query=["java and backend and junior and pizza 100","python and frontend and senior and chicken 200","cpp and - and senior and pizza 250","- and backend and senior and - 150","- and - and - and chicken 100","- and - and - and - 150"]

import pandas as pd
import numpy as np

info=pd.Series(info)
info=pd.DataFrame(info.str.split().tolist())
# , columns=['언어','직군','경력','소울푸드','점수']
info[4]=info[4].astype('int')

answer=[]

for quer in query:
    temp=info.copy()
    quer=quer.replace("and"," ").split()
    sit=np.where(np.array(quer)=='-')[0].tolist()
    
    #쿼리하나
    for q in range(len(quer)):
        if q in sit:
            continue
        else:
            print(q,quer[q])
            temp=temp[temp[q]==quer[q]]
    print(temp)

0 java
1 backend
2 junior
3 pizza
4 100
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []
0 python
1 frontend
2 senior
3 chicken
4 200
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []
0 cpp
2 senior
3 pizza
4 250
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []
1 backend
2 senior
4 150
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []
3 chicken
4 100
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []
4 150
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

C:\Anaconda3\envs\py36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Anaconda3\envs\py36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Anaconda3\envs\py36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Anaconda3\envs\py36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Anaconda3\envs\py36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Anaconda3\envs\py36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [147]:
solution(["java backend junior pizza 150","python frontend senior chicken 210","python frontend senior chicken 150","cpp backend senior pizza 260","java backend junior chicken 80","python backend senior chicken 50"],
        ["java and backend and junior and pizza 100","python and frontend and senior and chicken 200","cpp and - and senior and pizza 250","- and backend and senior and - 150","- and - and - and chicken 100","- and - and - and - 150"])

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

In [164]:
temp

        0         1       2        3    4
0    java   backend  junior    pizza  150
1  python  frontend  senior  chicken  210
2  python  frontend  senior  chicken  150
3     cpp   backend  senior    pizza  260
4    java   backend  junior  chicken   80
5  python   backend  senior  chicken   50

In [161]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      object
 1   1       6 non-null      object
 2   2       6 non-null      object
 3   3       6 non-null      object
 4   4       6 non-null      int32
dtypes: int32(1), object(4)
memory usage: 344.0+ bytes

In [168]:
for i in range(5):
    print(temp[i])

0      java
1    python
2    python
3       cpp
4      java
5    python
Name: 0, dtype: object
0     backend
1    frontend
2    frontend
3     backend
4     backend
5     backend
Name: 1, dtype: object
0    junior
1    senior
2    senior
3    senior
4    junior
5    senior
Name: 2, dtype: object
0      pizza
1    chicken
2    chicken
3      pizza
4    chicken
5    chicken
Name: 3, dtype: object
0    150
1    210
2    150
3    260
4     80
5     50
Name: 4, dtype: int32