## 1.11. 곱셈
(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.


(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

예제 입력  
472  
385

예제 출력  
2360  
3776  
1416  
181720

In [1]:
for i in range(10) :
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [2]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
aa = 12345
print(aa % 10**5 // 10**4)
print(aa % 10**4 // 10**3)
print(aa % 10**3 // 10**2)
#a % 10

1
2
3

In [10]:
a,b = map(int, input().split())
10**(len(a)-1)

472 385

TypeError: object of type 'int' has no len()

In [7]:
a = 472
b = 385
output = []

for i in range(len(str(b))):
    output.append(int(str(b)[i]))
print(output)

[3, 8, 5]

In [8]:
a = 472
b = 385
output = []

for i in range(len(str(b))):
    print(a * int(str(b)[-i-1]))
print(a*b)

2360
3776
1416
181720

In [11]:
a,b = map(int, input().split())

472 385

### 숫자쪼개기

In [12]:
def deci(input):
    output = []
    totaldigit = len(str(input))
    for i in range(totaldigit) :
        output1 = input % 10**(totaldigit-i) // 10**(totaldigit-i-1)
        output.append(output1)
    return output

In [13]:
deci(12345)

[1, 2, 3, 4, 5]

In [1]:
def digit(input):
    output = []
    totaldigit = len(str(input))
    for i in range(totaldigit) :
        output1 = input % 10**(totaldigit-i) // 10**(totaldigit-i-1)
        output.append(output1)
    return output

In [2]:
a = 472
b = 385
semiout = []
totaldigit = len(str(b))
for i in range(totaldigit):
    semiout.append(a * digit(b)[-i-1])
print(semiout)

for i in range(len(semiout)):
    print(semiout[i]*10**i)

[2360, 3776, 1416]
2360
37760
141600

In [15]:
sum([semiout[i]*10**i for i in range(len(semiout))])

0

In [16]:
a,b = map(int, input().split())
def digit(input):
    output = []
    totaldigit = len(str(input))
    for i in range(totaldigit) :
        output1 = input % 10**(totaldigit-i) // 10**(totaldigit-i-1)
        output.append(output1)
    return output

semiout = []
totaldigit = len(str(b))
for i in range(totaldigit):
    semiout.append(a * digit(b)[-i-1])
    print(semiout[i])
print(sum([semiout[i]*10**i for i in range(len(semiout))]))

472 385
2360
3776
1416
181720