# Programmers
## 해시 - 위장

In [1]:
clo=[['yellow_hat', 'headgear'], ['blue_sunglasses', 'eyewear'], ['green_turban', 'headgear']]

In [29]:
clo=[["crow_mask", "face"], ["blue_sunglasses", "face"], ["smoky_makeup", "face"]]

In [30]:
df=pd.DataFrame(clo, columns=['clothe','class'])
df2=pd.DataFrame(df['class'].value_counts()).reset_index()

In [31]:
df2

  index  class
0  face      3

In [32]:
lst=[]
for idx, row in df2.iterrows():
    lst.append(row['class'])

In [33]:
lst

[3]

In [34]:
from functools import reduce
reduce(lambda x, y: (x+1)*(y+1), lst) - 1

2

In [2]:
import pandas as pd

df=pd.DataFrame(clo, columns=['옷','분류'])
df2=df.pivot_table('옷', '분류', aggfunc='count')
lst=[i[0] for i in df2.values.tolist()]

In [3]:
from functools import reduce
lst=list(map(lambda x: x+1, lst))
answer=reduce(lambda x, y: x*y, lst)-1
print(answer)

5

In [ ]:
def solution(clothes):
    import pandas as pd
    
    df=pd.DataFrame(clothes, columns=['옷','분류'])
    df2=df.pivot_table('옷', '분류', aggfunc='count')
    lst=[i[0] for i in df2.values.tolist()]
    
    if len(lst)==1:
        return len(clothes)
    else:
        from functools import reduce
        lst=list(map(lambda x: x+1, lst))
        answer=reduce(lambda x, y: x*y, lst) - 1
        return answer