# 1. 입출력과 사칙연산

## 1.4. 개

In [15]:
#10172
text = """|\_/|
|q p|   /}
( 0 )\"""\\
|"^"`    |
||_/=\\\__|"""
print(text)

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

## 1.5. A+B

In [18]:
#1000
a = int(1)
b = int(2)
print(a+b)

3

### map function

In [20]:
a, b = map(int, input().split())
print(a+b)

1 2
3

In [91]:
a, b = int(input().split())
print(a+b)

1 2

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

## 1.9. 사칙연산

In [33]:
#10869
a,b = map(int, input().split())
print("""{}
{}
{}
{}
{}""".format(a+b,a-b,a*b,a//b,a%b))

7 3
10
4
21
2
1

## 1.10. 나머지
(A+B)%C는 (A%C + B%C)%C 와 같을까?

(A×B)%C는 (A%C × B%C)%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [48]:
#10430
A,B,C = map(int, input().split())
print("""{}
{}
{}
{}""".format((A+B)%C, (A%C+B%C)%C, (A*B)%C, (A%C*B%C)%C))

5 8 4
1
1
0
0

## 1.11. 곱셈
(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.


(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

예제 입력  
472  
385

예제 출력  
2360  
3776  
1416  
181720

In [53]:
for i in range(10) :
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [54]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [99]:
aa = 12345
print(aa % 10**5 // 10**4)
print(aa % 10**4 // 10**3)
print(aa % 10**3 // 10**2)
#a % 10

1
2
3

In [63]:
a,b = map(int, input().split())
10**(len(a)-1)

472

3

In [80]:
a = 472
b = 385
output = []

for i in range(len(str(b))):
    output.append(int(str(b)[i]))
print(output)

[3, 8, 5]

In [84]:
a = 472
b = 385
output = []

for i in range(len(str(b))):
    print(a * int(str(b)[-i-1]))
print(a*b)

2360
3776
1416
181720

In [86]:
a,b = map(int, input().split())

472

ValueError: not enough values to unpack (expected 2, got 1)

### 숫자쪼개기

In [104]:
def deci(input):
    output = []
    totaldigit = len(str(input))
    for i in range(totaldigit) :
        output1 = input % 10**(totaldigit-i) // 10**(totaldigit-i-1)
        output.append(output1)
    return output

In [105]:
deci(12345)

[1, 2, 3, 4, 5]

In [111]:
a = 472
b = 385
semiout = []
totaldigit = len(str(b))
for i in range(totaldigit):
    semiout.append(a * digit(b)[-i-1])
print(semiout)

for i in range(len(semiout)):
    print(semiout[i]*10**i)

[2360, 3776, 1416]
2360
37760
141600

In [114]:
sum([semiout[i]*10**i for i in range(len(semiout))])

181720

In [116]:
a,b = map(int, input().split())
def digit(input):
    output = []
    totaldigit = len(str(input))
    for i in range(totaldigit) :
        output1 = input % 10**(totaldigit-i) // 10**(totaldigit-i-1)
        output.append(output1)
    return output

semiout = []
totaldigit = len(str(b))
for i in range(totaldigit):
    semiout.append(a * digit(b)[-i-1])
    print(semiout[i])
print(sum([semiout[i]*10**i for i in range(len(semiout))]))

472 385
2360
3776
1416
181720

In [122]:
#2588
a = int(input())
b = int(input())
def digit(input):
    output = []
    totaldigit = len(str(input))
    for i in range(totaldigit) :
        output1 = input % 10**(totaldigit-i) // 10**(totaldigit-i-1)
        output.append(output1)
    return output

semiout = []
totaldigit = len(str(b))
for i in range(totaldigit):
    semiout.append(a * digit(b)[-i-1])
    print(semiout[i])
print(sum([semiout[i]*10**i for i in range(len(semiout))]))

472
385
2360
3776
1416
181720

# 2. if문

## 2.1. 두 수 비교하기
두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

출력

첫째 줄에 다음 세 가지 중 하나를 출력한다.

A가 B보다 큰 경우에는 '>'를 출력한다.  
A가 B보다 작은 경우에는 '<'를 출력한다.  
A와 B가 같은 경우에는 '=='를 출력한다.

In [ ]:
#1330
a, b = map(int, input().split())
print(">") if a>b else (print("<") if a<b else print("=="))

## 2.2. 시험 성적

In [3]:
#9498
score = int(input())
if score >= 90 :
    print("A")
elif score >= 80 :
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else :
    print("F")

100
A

## 2.3. 윤년

In [10]:
#2753
year = int(input())
print(((year%4 == 0 and year%100 != 0) or year%400 == 0)*1)

2000
1

## 2.4. 상근날드
상근날드에서 가장 잘 팔리는 메뉴는 세트 메뉴이다. 주문할 때, 자신이 원하는 햄버거와 음료를 하나씩 골라, 세트로 구매하면, 가격의 합계에서 50원을 뺀 가격이 세트 메뉴의 가격이 된다.

햄버거는 총 3종류 상덕버거, 중덕버거, 하덕버거가 있고, 음료는 콜라와 사이다 두 종류가 있다.

햄버거와 음료의 가격이 주어졌을 때, 가장 싼 세트 메뉴의 가격을 출력하는 프로그램을 작성하시오.

In [2]:
burger = []
drink = []
for i in range(3):
    burger.append(int(input()))
for i in range(2):
    drink.append(int(input()))
print(min(burger)+min(drink)-50)

800
700
900
198
330
848

In [8]:
a = [800,700,900,198,330]
print(a[:3])
print(a[3:])

[800, 700, 900]
[198, 330]

In [12]:
#5543
a=[int(input()) for i in range(5)]
print(min(a[:3])+min(a[3:])-50)

800
700
900
198
330
848

In [ ]:
#short cording
*p,q,r=eval("int(input()),"*5)
print(min(p)+min(q,r)-50)

## list 원소들 형변환하기

In [25]:
#방법1
a = list(map(int, input().split()))
print(type(a[0]))

1 2
<class 'int'>

In [27]:
#방법2
b = input().split()
b = [int(x) for x in b]
print(type(b[0]))

1 2
<class 'int'>

## 2.5. 두번째 큰 값 찾기

### 중복되지 않게, for 활용

In [29]:
def findsecond(arr):
    second = first = -float('inf') 
    
    for n in arr:
        if n > first:
            second = first
            first = n
        elif second < n < first:
            second = n
    return second

findsecond([30,30,10])

10

In [28]:
a = b = 3
print(a,b)

3 3

### 중복포함, sorting 활용

In [26]:
arr = [10,30,30,20]
sorted(arr, reverse=True)[1]

30

In [27]:
arr = [10,30,30,20]
uniq = set(arr)
sorted(uniq, reverse=True)[1]

20

In [25]:
arr = list(map(int, input().split()))
print(sorted(arr, reverse=True)[1])

30 20 10
20

In [35]:
print(sorted(list(map(int, input().split())))[1])

30 30 10
30

# 3. for문

## 3.1. 구구단

In [40]:
n = int(input())
for i in range(9):
    print("{} * {} = {}".format(n,i+1,n*(i+1)))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [42]:
n = int(input())
[print("{} * {} = {}".format(n,i+1,n*(i+1))) for i in range(9)]

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[None, None, None, None, None, None, None, None, None]

In [43]:
#short cording
i=int(input())
j=1
exec("print(i,'*',j,'=',i*j);j+=1;"*9)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [45]:
#2739
n = int(input())
[print(n,"*",i+1,"=",n*(i+1)) for i in range(9)]

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[None, None, None, None, None, None, None, None, None]

## 3.2. A+B
문제

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력

첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

출력

각 테스트 케이스마다 A+B를 출력한다.

In [47]:
n=int(input())
for i in range(n):
    print(sum(list(map(int, input().split()))))

2
1 1
2
2 3
5

In [48]:
#10950
n=int(input())
[print(sum(list(map(int, input().split())))) for i in range(n)]

2
2 3
5
3 4
7

[None, None]

In [ ]:
#short cording
exec('print(eval("+".join(input())));'*int(input()))

In [59]:
n = int(input())
sum=0
for i in range(n):
    sum = sum+ i+1
print(sum)

3
6

## 3.3. 합
n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [61]:
#8393
n = int(input())
print(int(n*(n+1)/2))

3
6

## 3.4. 빠른 A+B
input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

In [8]:
#15552
#jupyter같은 IDE에서 실행되지 않는다
import sys
n=int(sys.stdin.readline())
for i in range(n):
    a,b=map(int,sys.stdin.readline().split())
    print(a+b)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
for x in sys.stdin.readline():
    print(x)

## 3.5. N 찍기
자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [1]:
#2741
[print(i+1) for i in range(int(input()))]

5
1
2
3
4
5

[None, None, None, None, None]

## 3.6. 기찍 N

In [2]:
#2742
n=int(input())
[print(n-i) for i in range(n)]

5
5
4
3
2
1

[None, None, None, None, None]

## 3.7. A+B - 7
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [3]:
#11021
t = int(input())
[print("Case #{}: {}".format(i+1,sum(list(map(int, input().split()))))) for i in range(t)]

3
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7

[None, None, None]

## 3.8. A+B - 8
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [10]:
#11022
for i in range(int(input())):
    a,b=map(int, input().split())
    print("Case #{}: {} + {} = {}".format(i+1,a,b,a+b))

3
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7

## 3.9. 별 찍기 - 1
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [12]:
#2438
[print("*"*(i+1)) for i in range(int(input()))]

5
*
**
***
****
*****

[None, None, None, None, None]

## 3.10. 별 찍기 - 2
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제  
하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [15]:
#2439
n=int(input())
[print("%{}s".format(n)%("*"*(i+1))) for i in range(n)]

5
    *
   **
  ***
 ****
*****

[None, None, None, None, None]

In [16]:
#another source
n = int(input())
for i in range(1,n+1):
    print(" "*(n-i) + "*"*i)

5
    *
   **
  ***
 ****
*****

## 3.11. X보다 작은 수
정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [29]:
#10871
n,x=map(int,input().split())
arr=list(map(int,input().split()))
print(' '.join([str(i) for i in arr if i<x ]))

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# 4. while문

## 4.1. A+B - 5
- 문제

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

- 입력

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

입력의 마지막에는 0 두 개가 들어온다.

- 출력

각 테스트 케이스마다 A+B를 출력한다.

In [1]:
#10952
while True:
    a,b=map(int,input().split())
    if a+b>0:
        print(a+b)
    else:
        break

1 1
2
0 0

## 4.2. A+B - 4
- 문제

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

- 입력

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

- 출력

각 테스트 케이스마다 A+B를 출력한다.

In [6]:
while True:
    txt=input()
    if txt=='':
        break
    else:
        a,b=map(int,txt.split())
        print(a+b)

1 1
2
2 3
5

In [3]:
if input()=='':
    print('yes')
else:
    print('no')

yes

In [ ]:
#10951
while True:
    try:
        a,b=map(int,input().split())
        print(a+b)
    except:
        break

## 4.3. 더하기 사이클
- 문제

0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.

- 출력

첫째 줄에 N의 사이클 길이를 출력한다.

In [13]:
m=n=int(input())
i=0
while True:
    if n<10:
        n=n*10
        continue
    else:
        a=(n//10)
        b=(n%10)
        n=b*10+((a+b)%10)
        i += 1
        if n==m:
            break
print(i)

55

KeyboardInterrupt:

In [20]:
n=50
a=n//10
b=n%10
print(a,b)
print(((a+b)%10))
print(b*10+((a+b)%10))

5 0
5
5

In [21]:
#1110
m=n=int(input())
i=0
while True:
    a=(n//10)
    b=(n%10)
    n=b*10+((a+b)%10)
    i += 1
    if n==m:
        break
print(i)

55
3

# 5. 실습
추후수정

# 6. 1차원 배열

## 6.1. 최소, 최대

In [33]:
#10818
n=int(input())
a=list(map(int,input().split()))
if len(a)==n:print(min(a),max(a))

5
20 10 35 30 7
7 35

## 6.2. 최댓값
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

In [39]:
arr=[]
[arr.append(int(input())) for i in range(9)]
print(arr)

1
2
3
4
5
6
7
8
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
#2562
arr=[]
[arr.append(int(input())) for i in range(9)]
print(max(arr))
print(arr.index(max(arr))+1)

3
29
38
12
57
74
40
85
61
85
8

## 6.3. 숫자의 개수
- 문제

세 개의 자연수 A, B, C가 주어질 때 A×B×C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 

A × B × C = 150 × 266 × 427 = 17037300 이 되고, 

계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

- 입력

첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 같거나 크고, 1,000보다 작은 자연수이다.

- 출력

첫째 줄에는 A×B×C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A×B×C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
out=[0]*10
for i in range(10):
    out[i]=i
print(out)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
a=150
b=266
c=427
d=str(a*b*c)
out=[0]*10
for i in range(10):
    for j in range(len(d)):
        if i==int(d[j]):
            out[i]+=1
    print(out[i])

3
1
0
2
0
0
0
2
0
0

In [21]:
a=150
b=266
c=427
d=str(a*b*c)
print(d)
print(d[0])

17037300
1

In [25]:
a=int(input())
b=int(input())
c=int(input())
d=str(a*b*c)
out=[0]*10
for i in range(10):
    for j in range(len(d)):
        if i==int(d[j]):
            out[i]+=1
    print(out[i])

150
266
427
3
1
0
2
0
0
0
2
0
0

In [26]:
#2577
d=str(int(input())*int(input())*int(input()))
out=[0]*10
for i in range(10):
    for j in range(len(d)):
        if i==int(d[j]):
            out[i]+=1
    print(out[i])

150
266
427
3
1
0
2
0
0
0
2
0
0

### count

In [ ]:
#another code
total=1
for i in range(3):
    total = total*int(input())

for i in range(0,10):
    print(str(total).count(str(i)))

In [30]:
d=str(int(input())*int(input())*int(input()))
for i in range(10):
    print(  d.count(str(i))  )

150
266
427
3
1
0
2
0
0
0
2
0
0

In [29]:
d.count("0")

3

## 6.4. 나머지
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다.

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [33]:
#3052
arr=[]
for i in range(10):
    arr.append(int(input())%42)
print(len(set(arr)))

39
40
41
42
43
44
82
83
84
85
6

## 6.5. 평균
자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [40]:
#1546
n=int(input())
s=list(map(int,input().split()))
m=max(s)
for i in range(n):
    s[i]=s[i]/m*100
print(sum(s)/n)

3
10 20 30
66.66666666666667

In [51]:
#short coding
n=int(input())
s=list(map(int,input().split()))
print((sum(s)*100)/(n*max(s)))

3
10 20 30
66.66666666666667

## 6.6. OX퀴즈
- 문제

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

- 출력

각 테스트 케이스마다 점수를 출력한다.

In [48]:
txt="OOXXOXXOOO"
score=n=0
for j in txt:
    if j=='O':
        n+=1
        score+=n
    else:
        n=0
print(score)

10

In [49]:
#8958
n=int(input())
for i in range(n):
    txt=input()
    score=n=0
    for j in txt:
        if j=='O':
            n+=1
            score+=n
        else:
            n=0
    print(score)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

## 6.7. 평균은 넘겠지
- 입력

첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

- 출력

각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

### formatting

In [29]:
prob=40.0
print('정수')
print("{0:05d}".format(int(prob)))
print("{0:>05d}".format(int(prob)))
print("{0:<05d}".format(int(prob)))
print("{0:5d}".format(int(prob)))
print("{0:>5d}".format(int(prob)))
print("{0:<5d}".format(int(prob)))
print('실수')
print("%.3f"%prob)
print("{0:.3f}".format(prob))
print("{0:.3f}".format(prob))
print(f"{prob:.3f}")

정수
00040
00040
40000
   40
   40
40
실수
40.000
40.000
40.000
40.000

In [31]:
n,*scores=list(map(int,"5 50 50 70 80 100".split()))
print(n)
print(scores)
avg=sum(scores)/n
print(avg)

temp=0
for score in scores:
    if score>avg:
        temp+=1
prob=temp/n*100
print(f"{prob:.3f}%")

5
[50, 50, 70, 80, 100]
70.0
40.000%

In [32]:
#4344
c=int(input())
for i in range(c):
    n,*scores=list(map(int,input().split()))
    avg=sum(scores)/n
    temp=0
    for score in scores:
        if score>avg:
            temp+=1
    prob=temp/n*100
    print(f"{prob:.3f}%")

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

In [ ]:
#another code
C = int(input())

for i in range(C):
    I = list(map(int, input().split()))
    S = sum(I[1:]) / I[0]
    print ("%.3f%%" % (len(list(filter(lambda x : x > S, I[1:]))) * 100 / I[0]))

(200311)

# 7. 함수

## 7.1. 정수 N개의 합
정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

작성해야 하는 함수는 다음과 같다.

def solve(a: list) -> int

- a: 합을 구해야 하는 정수 n개가 저장되어 있는 리스트 (0 ≤ a[i] ≤ 1,000,000, 1 ≤ n ≤ 3,000,000)

- 리턴값: a에 포함되어 있는 정수 n개의 합 (정수)

In [1]:
def solve(a:list):
    return int(sum(a))
solve([1,2,3])

6

In [2]:
#15596
def solve(a):
    return int(sum(a))
solve([1,2,3])

6

## 7.2. 셀프 넘버
- 문제

셀프 넘버는 1949년 인도 수학자 D.R. Kaprekar가 이름 붙였다. 양의 정수 n에 대해서 d(n)을 n과 n의 각 자리수를 더하는 함수라고 정의하자. 예를 들어, d(75) = 75+7+5 = 87이다.

양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다. 

예를 들어, 33으로 시작한다면 다음 수는 33 + 3 + 3 = 39이고, 그 다음 수는 39 + 3 + 9 = 51, 다음 수는 51 + 5 + 1 = 57이다. 이런식으로 다음과 같은 수열을 만들 수 있다.

33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ...

n을 d(n)의 생성자라고 한다. 위의 수열에서 33은 39의 생성자이고, 39는 51의 생성자, 51은 57의 생성자이다. 생성자가 한 개보다 많은 경우도 있다. 예를 들어, 101은 생성자가 2개(91과 100) 있다. 

생성자가 없는 숫자를 셀프 넘버라고 한다. 100보다 작은 셀프 넘버는 총 13개가 있다. 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97

10000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

- 입력  
입력은 없다.

- 출력

10,000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 증가하는 순서로 출력한다.

In [6]:
n=23
n+sum(map(int,list(str(n))))

28

In [8]:
def sn(n):
    return n+sum(map(int,list(str(n))))

sn(1)

2

In [27]:
#시간제한 1초에 부적합.
def invsn(n):
    for i in range((n-1)):
        temp=sum(map(int,list(str(i+1))))
        if n-(i+1)-temp==0:
            return i+1
        else:
            continue
    return ''
invsn(4)

2

In [31]:
for i in range(1,1):
    print(i)

In [30]:
for i in range(1,2):
    print(i)

1

In [16]:
for i in range(1,10000):
    if invsn(i)=='':
        print(i)
    else:
        continue

1
2
3
5
7
9
11
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

In [42]:
#4673
#for 범위를 줄였다
def invsn(n):
    dgt=len(str(n))
    if n==1:
        return ''
    elif n<19:
        ran=1
    else:
        ran=n-dgt*9

    for i in range(ran,n):
        temp=sum(map(int,list(str(i))))
        if n-i-temp==0:
            return i
        else:
            continue
    return ''

for i in range(1,10000):
    if invsn(i)=='':
        print(i)
    else:
        continue

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

In [ ]:
#another code
#for문을 한번만 돌리니 빠르지.
#경험적으로 selfnum 아닌 숫자들을 제외하는 방식
#집합 사용

number_set = set(range(1, 10001))
dnumber_set= set()

for i in range(1, 10001):
    for j in str(i):
        i += int(j)
    dnumber_set.add(i)

self_number_set = number_set - dnumber_set

for i in sorted(self_number_set):
    print(i)

In [ ]:
#short code
r=range(9999);print(*sorted({*r}-{n+sum(map(int,str(n)))for n in r}))

#short code 풀어쓰면
#경험적으로 selfnum 아닌 숫자들을 제외하는 방식
r=range(9999)
print(  *sorted(  {*r}-{n+sum(map(int,str(n)))for n in r}  )  )

In [ ]:
#another code
#집합 사용
#함수 인수가 set이고 set에 추가하는 방식이 특이.

from sys import stdin

def d(n, memo):
    if n > 10000:
        return
    else:
        A = list(map(int, str(n)))
        memo.add(n + sum(A))
        return
        
memo = set()
for i in range(1, 10001):
    d(i, memo)

for i in range(1, 10001):
    if i in memo:
        continue
    else:
        print(i)

## 7.3. 한수
- 문제

어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오.

- 입력

첫째 줄에 1,000보다 작거나 같은 자연수 N이 주어진다.

- 출력

첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.

In [44]:
def ari(n):
    lst=map(int,list(str(n)))
    num=0
    for i in range(len(lst)-1):
        step=lst[i]-lst[i-1]
        
        print(i-1)
ari(20)

1
-1

In [64]:
n=110
lst=list(map(int,str(n)))

out=0


def ari(n):
    if n<100:
        return True
    else:
        out=99
        dis=lst[0]-lst[1]
        for i in range(len(str(n))-2):
            dis2=lst[i+1]-lst[i+2]
            if dis==dis2:
                continue
            else:
                return False
        return True

    
print(out)

100

In [13]:
def ari(n):
    lst=list(map(int,str(n)))
    if n<100:
        return True
    else:
        dis=lst[0]-lst[1]
        for i in range(len(str(n))-2):
            dis2=lst[i+1]-lst[i+2]
            if dis==dis2:
                continue
            else:
                return False
        return True
ari(100)

False

In [14]:
n=int(input())
print([ari(i+1) for i in range(n)].count(1))
print(sum([ari(i+1) for i in range(n)]*1))

110
99
99

In [15]:
n=int(input())
print([ari(i+1) for i in range(n)])

110
[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False]

In [20]:
#제출용 정리
#1065
def ari(n):
    lst=list(map(int,str(n)))
    if n<100:
        return True
    else:
        dis=lst[0]-lst[1]
        for i in range(len(str(n))-2):
            dis2=lst[i+1]-lst[i+2]
            if dis==dis2:
                continue
            else:
                return False
        return True
n=int(input())
print([ari(i+1) for i in range(n)].count(1))

1000
144

In [ ]:
#another code
#set의 중복비허용 속성을 이용하여 등차수열 판별

n = int(input())

i = 0
for x in range(1, n + 1):
    n = str(x)
    list = []
    for y in range(len(n) - 1):
        list.append(int(n[y + 1]) - int(n[y]))

    ans = set(list)
    if len(ans) == 1 or len(ans) == 0:
        i += 1
print(i)

In [ ]:
#another code
#100으로 나눈 몫과 나머지를 이용하여 등차수열임을 판별

num = 0 
def isHansu(x):
    global num
    if x//100 - x%100//10 is x%100//10 - x%10:
        num += 1
N = int(input())
for i in range(1, N+1):
    if i < 100:
        num += 1
    else:
        isHansu(i)
print(num)

In [23]:
n=123456
list(map(int,str(n)))

[1, 2, 3, 4, 5, 6]

# 8. 문자열

## 8.1. 아스키 코드
알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

In [44]:
ord('5')

53

In [36]:
ord('A')

65

In [42]:
a='2';print(a)
a=int(a);print(type(a))
a=chr(a);print(a)

2
<class 'int'>


In [46]:
#11654
print(ord(input()))

z
122

## 8.2. 숫자의 합
- 문제

N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

- 입력

첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

- 출력

입력으로 주어진 숫자 N개의 합을 출력한다.

In [47]:
#11720
n=input()
num=input()
print(sum(list(map(int,str(num)))))

5
54321
15

## 8.3. 알파벳 찾기
- 문제

알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

- 입력

첫째 줄에 단어 S가 주어진다. 단어의 길이는 100을 넘지 않으며, 알파벳 소문자로만 이루어져 있다.

- 출력

각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.

만약, 어떤 알파벳이 단어에 포함되어 있지 않다면 -1을 출력한다. 단어의 첫 번째 글자는 0번째 위치이고, 두 번째 글자는 1번째 위치이다.

In [50]:
for i in range(ord('a'), ord('z')+1):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [52]:
#10809
s=input()
[print(s.find(chr(i)), end=' ') for i in range(ord('a'), ord('z')+1)]

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [53]:
#short code
print(*map(input().find,map(chr,range(97,123))))

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 리스트 한 줄에 출력하기

In [4]:
lst = [1,2,3,4,5,6,7,8,9]
for i in range(len(lst)):
    print(lst[i], end=' ')

1 2 3 4 5 6 7 8 9

In [2]:
print(' '.join(lst))

TypeError: sequence item 0: expected str instance, int found

In [5]:
lst = ['H','E','L','L','O']
print(' '.join(lst))

H E L L O

(200312)

## 8.4. 문자열 반복
- 문제

문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

- 입력

첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 

- 출력

각 테스트 케이스에 대해 P를 출력한다.

문자열 https://doorbw.tistory.com/54
string a to z https://stackoverflow.com/questions/3190122/python-how-to-print-range-a-z
list 한줄에 출력 https://m.blog.naver.com/PostView.nhn?blogId=complusblog&logNo=221158629508&proxyReferer=https%3A%2F%2Fwww.google.com%2F

In [6]:
t=int(input())
for i in range(t):
    r,s=input().split()
    r=int(r)
    print(*s*r)

2
3 ABC
A B C A B C A B C
5 /HTP
/ H T P / H T P / H T P / H T P / H T P

In [16]:
s='ABC'
print([i*3 for i in s])

['AAA', 'BBB', 'CCC']

In [5]:
#2675
for i in range(int(input())):
    r,s=input().split()
    r=int(r)
    print(''.join([i*r for i in s]))

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

## 8.5. 단어 공부
- 문제

알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

- 입력

첫째 줄에 알파벳 대소문자로 이루어진 단어가 주어진다. 주어지는 단어의 길이는 1,000,000을 넘지 않는다.

- 출력

첫째 줄에 이 단어에서 가장 많이 사용된 알파벳을 대문자로 출력한다. 단, 가장 많이 사용된 알파벳이 여러 개 존재하는 경우에는 ?를 출력한다.

In [ ]:
txt=input().upper()
[txt.count(chr(i)) for i in range(ord('a'), ord('z')+1)]

In [7]:
'abD'.upper()

'ABD'

In [21]:
txt=list(input().upper())
[txt.count(i) for i in set(txt)]

MISSISSIPI

[4, 4, 1, 1]

In [25]:
txt=('Mississipi'.upper())
print(txt)
print(set(txt))
print([txt.count(i) for i in set(txt)])

MISSISSIPI
{'S', 'I', 'M', 'P'}
[4, 4, 1, 1]

In [24]:
txt=('Mississipi'.upper())
set(txt)

{'I', 'M', 'P', 'S'}

In [26]:
max(set(txt))

'S'

In [41]:
txt=('Mississipi'.upper())
cnt=[txt.count(chr(i)) for i in range(ord('A'), ord('Z')+1)]
print(cnt)
print(max(cnt))

[0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 1, 0, 0, 1, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0]
4

In [48]:
[ord('A'):ord('Z')]

SyntaxError: invalid syntax (<ipython-input-48-bcbe1a093b19>, line 1)

In [52]:
list(range(1,3))

[1, 2]

In [54]:
alpha=list(map(chr,list(range(ord('A'),ord('Z')+1))))
alpha

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [56]:
cnt=[txt.count(i) for i in alpha]
cnt

[0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 1, 0, 0, 1, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0]

In [61]:
txt='Mississipi'.upper()
alpha=list(map(chr,list(range(ord('A'),ord('Z')+1))))
cnt=[txt.count(i) for i in alpha]
maxcnt=max(cnt)

print(alpha[cnt.index(maxcnt)])

I

In [3]:
#1157
#464ms
txt=list(input().upper())
alpha=list(map(chr,list(range(ord('A'),ord('Z')+1))))
cnt=[txt.count(i) for i in alpha]
maxcnt=max(cnt)
if cnt.count(maxcnt)>1:
    print('?')
else:
    print(alpha[cnt.index(maxcnt)])

baaa
A

In [ ]:
#another code
#88ms. 알고리즘은 똑같은데 ord때문에 더 걸린듯
a = input()
a = a.upper()
b = []

alpha = list(map(chr, range(65, 91)))

for i in range(26):
    b.append(a.count(alpha[i]))

if b.count(max(b)) == 1:
    print(alpha[b.index(max(b))])
else:
    print('?')

## 8.6. 단어의 개수
- 문제

영어 대소문자와 띄어쓰기만으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오. 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.

- 입력

첫 줄에 영어 대소문자와 띄어쓰기로 이루어진 문자열이 주어진다. 이 문자열의 길이는 1,000,000을 넘지 않는다. 단어는 띄어쓰기 한 개로 구분되며, 공백이 연속해서 나오는 경우는 없다. 또한 문자열의 앞과 뒤에는 공백이 있을 수도 있다.

- 출력

첫째 줄에 단어의 개수를 출력한다.

In [6]:
#1152
print(len(input().split()))

Teullinika Teullyeotzi
2

## 8.7. 상수
- 문제

상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

- 입력

첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.

- 출력

첫째 줄에 상수의 대답을 출력한다.

In [18]:
#2908
def rvs(n):
    return int(''.join(reversed(list(str(n)))))
txt=input().split()
print(max(map(rvs,txt)))

734 893
437

In [19]:
#short coding
print(max(input()[::-1].split()))

734 893
437

## 8.8. 다이얼
- 문제

상근이의 할머니는 아래 그림과 같이 오래된 다이얼 전화기를 사용한다.



전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.

숫자 1을 걸려면 총 2초가 필요하다. 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.

상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.

할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 시간을 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 알파벳 대문자로 이루어진 단어가 주어진다. 단어는 2글자~15글자로 이루어져 있다.

- 출력

첫째 줄에 다이얼을 걸기 위해서 필요한 시간을 출력한다.

In [36]:
d=[]
for i in range(3,8):d+=[i]*3
d+=[8]*4+[9]*3+[10]*4
len(d)

26

In [39]:
alpha = list(map(chr, range(65, 91)))

d=[]
for i in range(3,8):d+=[i]*3
d+=[8]*4+[9]*3+[10]*4

dict(zip(alpha,d))
#or
{a:b for a,b in zip(alpha,d) }

{'A': 3,
 'B': 3,
 'C': 3,
 'D': 4,
 'E': 4,
 'F': 4,
 'G': 5,
 'H': 5,
 'I': 5,
 'J': 6,
 'K': 6,
 'L': 6,
 'M': 7,
 'N': 7,
 'O': 7,
 'P': 8,
 'Q': 8,
 'R': 8,
 'S': 8,
 'T': 9,
 'U': 9,
 'V': 9,
 'W': 10,
 'X': 10,
 'Y': 10,
 'Z': 10}

In [44]:
len(splt)

8

In [53]:
d=[]
splt={2:3,3:3,4:3,5:3,6:3,7:4,8:3,9:4}
for dial,n in splt.items():
    d.extend([dial]*n)
print(d)

[2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 9]

In [54]:
#위와같음
nums=[3,3,3,3,3,4,3,4]
d=[]
for idx, dial in enumerate(range(2,10)):
    d.extend([dial]*nums[idx])
print(d)

[2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 9]

In [41]:
txt='UNUCIC'
for i in txt:
    print(i)

U
N
U
C
I
C

In [57]:
#txt=input()
txt='UNUCIC'
alpha = list(map(chr, range(65, 91)))

nums=[3,3,3,3,3,4,3,4]
d=[]
for idx, dial in enumerate(range(2,10)):
    d.extend([dial]*nums[idx])

dial=dict(zip(alpha,d))

for i in txt:
    print(dial[i]+1)

9
7
9
3
5
3

In [58]:
sum([dial[i]+1 for i in txt])

36

In [59]:
#제출용
#5622
txt=input()
alpha = list(map(chr, range(65, 91)))

nums=[3,3,3,3,3,4,3,4]
d=[]
for idx, dial in enumerate(range(2,10)):
    d.extend([dial]*nums[idx])

dial=dict(zip(alpha,d))
print(sum([dial[i]+1 for i in txt]))

UNUCIC
36

In [ ]:
#short code
print(sum(min(ord(c)-64,25)*28//89+3for c in input()))

In [ ]:
#short code
#step(3)으로 나눈 몫을 이용하여 (ord(s)-65)//3 +3 으로 앞에서 3개씩 나누어 3,4,... 으로 반환 가능하다.
#SVYZ 이유는 앞에서부터 3으로 나눴을 때 한칸씩 밀리는 알파벳들이다.

x=input()
print(sum((ord(s)-65)//3+3 for s in x)-sum(x.count(s) for s in 'SVYZ'))

In [ ]:
#short code
print(sum((ord(i)-62-(i in 'SVYZ')-(i=='Z'))//3+2 for i in input()))

#re
sum()
(ord(i)-62-(i in 'SVYZ')-(i=='Z'))//3+2 for i in input()

In [61]:
ord('A')

65

## 8.9 크로아티아 알파벳
- 문제

예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.

크로아티아 알파벳	변경
č	c=
ć	c-
dž	dz=
đ	d-
lj	lj
nj	nj
š	s=
ž	z=
예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

- 입력

첫째 줄에 최대 100글자의 단어가 주어진다. 알파벳 소문자와 '-', '='로만 이루어져 있다.

단어는 크로아티아 알파벳으로 이루어져 있다. 문제 설명의 표에 나와있는 알파벳은 변경된 형태로 입력된다.

- 출력

입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

In [65]:
txt="ljes=njak"
txt.remove("s=")

AttributeError: 'str' object has no attribute 'remove'

In [ ]:
[č]
dic={ord():''}
new=txt.translate(dic)

In [74]:
txt='ljes=njak'
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
i=0
if txt.count(cro[6])>0:
    new=txt.replace(alpha,'')
    i+=1
    print(i)

1

In [94]:
txt='ljes=njak'
new=txt
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
for alpha in cro:
    
    print(new.count(alpha))
    new=new.replace(alpha,'')
print(new)

0
0
0
0
1
1
1
0
eak

In [95]:
#실패. 제거하는 방식은 nljj에서 lj 제거하면 nj가 또 해당되어서..
txt=input()
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
i=0
for c in cro:
    if txt.count(c)>0:
        txt=txt.replace(c,'')
        print(c,txt)
        i+=1
print('txt길이',len(txt))
print(i)
print(len(txt)+i)

nljj
lj nj
nj
txt길이 0
2
2

In [99]:
txt=input()
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
i=0
txtlst=[]
for t in txt:
    if t in cro:
        #txtlst.append(c)
        print(c)
        print(t)

nljj

In [3]:
txt=input()
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
cnt=[]
rest=''
for c in cro:
    cnt.append(txt.count(c))
cnt

nljj

[0, 0, 0, 0, 1, 0, 0, 0]

In [10]:
txt=input()
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
i=0
for c in cro:
    if txt.count(c)>0:
        i+=txt.count(c)
        txt=txt.replace(c,' ')
print(len(txt.split())+i)

ljes=njak
5

In [19]:
#2941
txt=input()
cro=['c=','c-','dz=','d-','lj','nj','s=','z=']
i=0
for c in cro:
    if txt.count(c)>0:
        i+=txt.count(c)
        txt=txt.replace(c,' ')
print(len(txt.replace(' ',''))+i)

c=c=
2

In [20]:
#another code
text = input()

croatia = ['c=','c-','dz=','d-','lj','nj','s=','z=']

for word in croatia:
    text = text.replace(word,'*')
print(len(text))

c=c=
2

## 8.10. 그룹 단어 체커
- 문제

그룹 단어란 단어에 존재하는 모든 문자에 대해서, 각 문자가 연속해서 나타나는 경우만을 말한다. 예를 들면, ccazzzzbb는 c, a, z, b가 모두 연속해서 나타나고, kin도 k, i, n이 연속해서 나타나기 때문에 그룹 단어이지만, aabbbccb는 b가 떨어져서 나타나기 때문에 그룹 단어가 아니다.

단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성하시오.

- 입력

첫째 줄에 단어의 개수 N이 들어온다. N은 100보다 작거나 같은 자연수이다. 둘째 줄부터 N개의 줄에 단어가 들어온다. 단어는 알파벳 소문자로만 되어있고 중복되지 않으며, 길이는 최대 100이다.

- 출력

첫째 줄에 그룹 단어의 개수를 출력한다.

In [30]:
new='a'
''.join([new,'b'])

'ab'

In [38]:
txtset={1}
txtset.add(2)
print(txtset,len(txtset))

{1, 2} 2

In [45]:
def isGrword(txt):
    txtset=set({})
    for idx,w in enumerate(txt):
        before=len(txtset)
        txtset.add(w)
        
        print(txt[idx-1])
        
        if before==len(txtset) :
            continue
        else:
            return False
    return True
isGrword('abbbbcccc')

c

False

In [47]:
txt='abbbccccc'

for idx,w in enumerate(txt):
    print(txt[idx])

a
b
b
b
c
c
c
c
c

In [62]:
#solution1. 조잡하다
def isGrword(txt):
    txtset=set({txt[0]})
    for idx,w in enumerate(txt):
        if idx==0:
            continue
        else:
            before=len(txtset)
            txtset.add(w)
            if before==len(txtset) and txt[idx-1]!=w:
                return False
            else:
                continue
    return True
t=int(input())
i=0
for a in range(t):
    if isGrword(input())==1:
        i+=1
print(i)

4
aba
abab
abcabc
a
1

In [60]:
isGrword('abcabc')

False

In [80]:
zipword('happyhh')
set(zipword('happyhh'))

{'a', 'h', 'p', 'y'}

In [79]:
#sol2. 뭔가더깔끔
#1316
def zipword(txt):
    
    for idx,w in enumerate(txt):
        if idx==0:
            before=w
            continue
        else:
            if before==w:
                txt=txt.replace(w*2,w)
            before=w
    return txt

t=int(input())
i=0

for a in range(t):
    temp=zipword(input())
    if len(temp)==len(set(temp)):
        i+=1
print(i)

4
aba
abab
abcabc
1
1

In [ ]:
#another code
count = 0

for _ in range(int(input())) :
    cur = [i for i in input()]
    cri = len(set(cur))
    temp = 0
    for x in range(len(cur)-1, 0, -1) :
        if cur[x-1] != cur [x] : 
            temp +=1
    if temp == cri-1 :
        count += 1
        
print (count)

In [ ]:
#short code
b=0
for i in range(int(input())):
    a = input()
    if list(a)  == sorted(a,key=a.find):
        b+=1
print(b)

(200314)

# 9. 수학1

# 9.1. 손익분기점
- 문제

월드전자는 노트북을 제조하고 판매하는 회사이다. 노트북 판매 대수에 상관없이 매년 임대료, 재산세, 보험료, 급여 등 A만원의 고정 비용이 들며, 한 대의 노트북을 생산하는 데에는 재료비와 인건비 등 총 B만원의 가변 비용이 든다고 한다.

예를 들어 A=1,000, B=70이라고 하자. 이 경우 노트북을 한 대 생산하는 데는 총 1,070만원이 들며, 열 대 생산하는 데는 총 1,700만원이 든다.

노트북 가격이 C만원으로 책정되었다고 한다. 일반적으로 생산 대수를 늘려 가다 보면 어느 순간 총 수입(판매비용)이 총 비용(=고정비용+가변비용)보다 많아지게 된다. 최초로 총 수입이 총 비용보다 많아져 이익이 발생하는 지점을 손익분기점(BREAK-EVEN POINT)이라고 한다.

A, B, C가 주어졌을 때, 손익분기점을 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 A, B, C가 빈 칸을 사이에 두고 순서대로 주어진다. A, B, C는 21억 이하의 자연수이다.

- 출력

첫 번째 줄에 손익분기점 즉 최초로 이익이 발생하는 판매량을 출력한다. 손익분기점이 존재하지 않으면 -1을 출력한다.

In [1]:
# a+b*n < c*n
# a/(c-b) < n
import math
def breakpt(a,b,c):
    if c-b>0:
        n=a/(c-b)
        m = math.ceil(n)
        if m==n :
            return(m+1)
        else :
            return(m)
    else:
        return -1

print(breakpt(999,70,170))
print(breakpt(1000,70,170))
print(breakpt(1001,70,170))

10
11
11

In [16]:
tuple((1,2))

(1, 2)

In [ ]:
#1712
import math
def breakpt(a,b,c):
    if c-b>0:
        n=a/(c-b)
        m = math.ceil(n)
        if m==n :
            return(m+1)
        else :
            return(m)
    else:
        return -1

a,b,c=map(int,input().split())
print(breakpt(a,b,c))

In [ ]:
#another code
a, b, c = map(int, input().split())

sell = 0

if b >= c:
    print(-1)
else:
    print(a // (c-b) + 1)

In [ ]:
#another code 로 내거 재제출
a,b,c=map(int,input().split())
if c-b>0:
    print(a // (c-b) + 1)
else:
    print(-1)

In [ ]:
#shot code
(a,b,c)=map(int,input().split(' '))
print(a//(c-b)+1 if b<c else -1)

## 9.2. 설탕 배달
- 문제

상근이는 요즘 설탕공장에서 설탕을 배달하고 있다. 상근이는 지금 사탕가게에 설탕을 정확하게 N킬로그램을 배달해야 한다. 설탕공장에서 만드는 설탕은 봉지에 담겨져 있다. 봉지는 3킬로그램 봉지와 5킬로그램 봉지가 있다.

상근이는 귀찮기 때문에, 최대한 적은 봉지를 들고 가려고 한다. 예를 들어, 18킬로그램 설탕을 배달해야 할 때, 3킬로그램 봉지 6개를 가져가도 되지만, 5킬로그램 3개와 3킬로그램 1개를 배달하면, 더 적은 개수의 봉지를 배달할 수 있다.

상근이가 설탕을 정확하게 N킬로그램 배달해야 할 때, 봉지 몇 개를 가져가면 되는지 그 수를 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 N이 주어진다. (3 ≤ N ≤ 5000)

- 출력

상근이가 배달하는 봉지의 최소 개수를 출력한다. 만약, 정확하게 N킬로그램을 만들 수 없다면 -1을 출력한다.

In [ ]:
#5의 배수는의 일의 자리는 0 or 5, 3의 배수의 일의 자리는 3,6,9,2,5,8,1,4,7,0
n=int(input())
if n%5 == 0 : out=n//5
elif n%5 == 3 : out=n//5+1
elif n%5 == 1 : out=n//5-1+2
elif n%5 == 2 : out=n//5-2+4
elif n%5 == 4 : out=n//5-4+8
print(out)

In [10]:
#5의 배수는의 일의 자리는 0 or 5, 3의 배수의 일의 자리는 3,6,9,2,5,8,1,4,7,0
n=int(input())
if n%5 == 0 : out=n//5
elif n%5 == 3 : out=n//5+1
elif n%5 == 1 : out=n//5-1+2
elif n%5 == 2 and n//5>=2 : out=n//5-2+4
elif n%5 == 4 and n//5>=1 : out=n//5-1+3
else : out = -1
print(out)

11
3

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
#간소화
#2839
def sang(n):
    arr=[[0,0],[0,1],[2,2],[0,1],[1,2]]
    for i in range(5):
        if n%5==i and n//5>=arr[i][0]:
            return n//5+arr[i][1]
    return -1
print(sang(int(input())))

11
3

In [ ]:
#short oode
N=int(input())
G=0
while N%5!=0:
    N-=3
    G+=1
if N<0:
    print(-1)
else:
    print(G+N//5)

## 9.3. 벌집
- 문제

위의 그림과 같이 육각형으로 이루어진 벌집이 있다. 그림에서 보는 바와 같이 중앙의 방 1부터 시작해서 이웃하는 방에 돌아가면서 1씩 증가하는 번호를 주소로 매길 수 있다. 숫자 N이 주어졌을 때, 벌집의 중앙 1에서 N번 방까지 최소 개수의 방을 지나서 갈 때 몇 개의 방을 지나가는지(시작과 끝을 포함하여)를 계산하는 프로그램을 작성하시오. 예를 들면, 13까지는 3개, 58까지는 5개를 지난다.

- 입력

첫째 줄에 N(1 ≤ N ≤ 1,000,000,000)이 주어진다.

- 출력

입력으로 주어진 방까지 최소 개수의 방을 지나서 갈 때 몇 개의 방을 지나는지 출력한다.

In [25]:
#1,2,8,20,38, ...수열.
#a_1=1, a_n=3(n-2)(n-1)
m=13
def dis(m):
    n=0
    while True:
        n+=1
        if 3*(n-1)*(n-2)+1<=m<3*(n)*(n-1)+1:
            return n
print(dis(13))

3

In [28]:
#위는 n=1,2 고려 안해서 틀린듯
def dis(m):
    n=0
    if n==1:return 1
    while True:
        n+=1
        if 3*(n)*(n-1)+1<=m<3*(n+1)*(n)+1:
            return n+1
print(dis(int(input())))

58
5

In [32]:
#처음거 살려보자
#처음거 범위쪽을 +1로해서 틀렸네 +2가 맞음
#2292
#64ms 195B
def dis(m):
    if m==1:return 1
    elif m>=2:
        n=2
        while True:
            if 3*(n-1)*(n-2)+2<=m<3*(n)*(n-1)+2:
                return n
            n+=1
print(dis(int(input())))

58
5

### 수열
ai는 i번째 그룹의 마지막 원소이다.

In [36]:
#another code
#s는 수열의 값, c는 수열의 index
ai,i,n=1,1,int(input())
while ai<n:
    ai += 6*i
    i+=1
print(i)

1
1

In [35]:
#short code
print(int((  int(input())/3-.1  )**.5+1.5))

13
3

## 9.4. 분수찾기
- 문제

무한히 큰 배열에 다음과 같이 분수들이 적혀있다.

| 1/1  | 1/2  | 1/3  | 1/4  | 1/5  | …    |
| ---- | ---- | ---- | ---- | ---- | ---- |
| 2/1  | 2/2  | 2/3  | 2/4  | …    | …    |
| 3/1  | 3/2  | 3/3  | …    | …    | …    |
| 4/1  | 4/2  | …    | …    | …    | …    |
| 5/1  | …    | …    | …    | …    | …    |
| …    | …    | …    | …    | …    | …    |

이와 같이 나열된 분수들을 1/1 -> 1/2 -> 2/1 -> 3/1 -> 2/2 -> … 과 같은 지그재그 순서로 차례대로 1번, 2번, 3번, 4번, 5번, … 분수라고 하자.

X가 주어졌을 때, X번째 분수를 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 X(1 ≤ X ≤ 10,000,000)가 주어진다.

- 출력

첫째 줄에 분수를 출력한다.

In [45]:
#while에서 ai,i가 한 칸 더 앞서버려.
i,ai,x=1,1,int(input())
while ai<x:
    ai+=i
    i+=1

j1=x-ai+1
j2=i-j1+1
if i%2==0:
    print(j1,'/',j2)
else:
    print(j2,'/',j1)

14
2 / 4

In [42]:
i,ai,x=1,1,int(input())
while ai<x:
    ai+=i+1
    i+=1
print(ai,i)

11
15 5

In [ ]:
#해결함
#1193
i,ai,x=1,1,int(input())
while ai<x:
    ai+=i+1
    i+=1

j1=ai-x+1  #i번째 그룹 내에서 뒤에서 j1번째 원소
j2=i-j1+1
if i%2==0:
    print(j2,'/',j1)
else:
    print(j1,'/',j2)

In [54]:
#좀 더 shortify
i,a,x=1,1,int(input())
while a<x:a+=i+1;i+=1
z=[a-x+1,i-(a-x)]
print(z[(i+1)%2],'/',z[i%2],sep='')
#or
print(f"")

14
2/4

In [56]:
#short code
i,a,x=1,1,int(input())
while a<x:a+=i+1;i+=1
z=[a-x+1,i-(a-x)][i%2]
print(f"{i-z+1}/{z}")

14
2/4

## 9.5. 달팽이는 올라가고 싶다
- 문제

땅 위에 달팽이가 있다. 이 달팽이는 높이가 V미터인 나무 막대를 올라갈 것이다.

달팽이는 낮에 A미터 올라갈 수 있다. 하지만, 밤에 잠을 자는 동안 B미터 미끄러진다. 또, 정상에 올라간 후에는 미끄러지지 않는다.

달팽이가 나무 막대를 모두 올라가려면, 며칠이 걸리는지 구하는 프로그램을 작성하시오.

- 입력

첫째 줄에 세 정수 A, B, V가 공백으로 구분되어서 주어진다. (1 ≤ B < A ≤ V ≤ 1,000,000,000)

- 출력

첫째 줄에 달팽이가 나무 막대를 모두 올라가는데 며칠이 걸리는지 출력한다.

In [58]:
#시간초과
a,b,v=map(int,input().split())
x,d=a,1
while x<v:x-=b;x+=a;d+=1
print(d)

2 1 5
4

In [60]:
#설명: 목표값(v)을 초과한 값을 초기값으로(d,x) 잡고, 거꾸로 계산한다.
a,b,v=map(int,input().split())
#(a-b)*(v//(a-b)) 이랑 (v-v%(a-b)) 이랑 같다
d=v//(a-b)+1
x=(a-b)*d
#a가 중요하다. 거꾸로 갈 때 +b-a+b-a+...인데, a로 끝나면 day가 ?이어야 함.
while x>=v:
    x+=b
    x-=a
    d-=1
print(d)
#잠시만, 이것도 아닌듯.. a,b,v가 아주 큰 수이고 a-b은 작으면? 시간초과.

3 1 2
0

In [3]:
#a로만 먼저 올라가고 b를 날짜맞춰 계산한 뒤 위과정 하면 되겠네
#시간초과
a,b,v=map(int,input().split())
d=v//a
x=(a-b)*d+a
d+=1
while x<v:x-=b;x+=a;d+=1
print(d)

2 1 5
4

In [40]:
#초기값 a한번 설정, 후에 -b+a 반복
#2869
import math
a,b,v=map(int,input().split())
x=a;d=1
if a<v:
    d+=math.ceil((v-x)/(a-b))
print(d)

2 1 5
4

In [ ]:
#short code
a,b,v=map(int,input().split())
print(1-(a-v)//(a-b))

(200315)

## 9.6. ACM 호텔
- 문제

ACM 호텔 매니저 지우는 손님이 도착하는 대로 빈 방을 배정하고 있다. 고객 설문조사에 따르면 손님들은 호텔 정문으로부터 걸어서 가장 짧은 거리에 있는 방을 선호한다고 한다. 여러분은 지우를 도와 줄 프로그램을 작성하고자 한다. 즉 설문조사 결과 대로 호텔 정문으로부터 걷는 거리가 가장 짧도록 방을 배정하는 프로그램을 작성하고자 한다.

문제를 단순화하기 위해서 호텔은 직사각형 모양이라고 가정하자. 각 층에 W 개의 방이 있는 H 층 건물이라고 가정하자 (1 ≤ H, W ≤ 99). 그리고 엘리베이터는 가장 왼쪽에 있다고 가정하자(그림 1 참고). 이런 형태의 호텔을 H × W 형태 호텔이라고 부른다. 호텔 정문은 일층 엘리베이터 바로 앞에 있는데, 정문에서 엘리베이터까지의 거리는 무시한다. 또 모든 인접한 두 방 사이의 거리는 같은 거리(거리 1)라고 가정하고 호텔의 정면 쪽에만 방이 있다고 가정한다.

![img](https://www.acmicpc.net/upload/images2/elevator.png)

그림 1. H = 6 이고 W = 12 인 H × W 호텔을 간략하게 나타낸 그림

방 번호는 YXX 나 YYXX 형태인데 여기서 Y 나 YY 는 층 수를 나타내고 XX 는 엘리베이터에서부터 세었을 때의 번호를 나타낸다. 즉, 그림 1 에서 빗금으로 표시한 방은 305 호가 된다.

손님은 엘리베이터를 타고 이동하는 거리는 신경 쓰지 않는다. 다만 걷는 거리가 같을 때에는 아래층의 방을 더 선호한다. 예를 들면 102 호 방보다는 301 호 방을 더 선호하는데, 102 호는 거리 2 만큼 걸어야 하지만 301 호는 거리 1 만큼만 걸으면 되기 때문이다. 같은 이유로 102 호보다 2101 호를 더 선호한다.

여러분이 작성할 프로그램은 초기에 모든 방이 비어있다고 가정하에 이 정책에 따라 N 번째로 도착한 손님에게 배정될 방 번호를 계산하는 프로그램이다. 첫 번째 손님은 101 호, 두 번째 손님은 201 호 등과 같이 배정한다. 그림 1 의 경우를 예로 들면, H = 6이므로 10 번째 손님은 402 호에 배정해야 한다.

- 입력

프로그램은 표준 입력에서 입력 데이터를 받는다. 프로그램의 입력은 T 개의 테스트 데이터로 이루어져 있는데 T 는 입력의 맨 첫 줄에 주어진다. 각 테스트 데이터는 한 행으로서 H, W, N, 세 정수를 포함하고 있으며 각각 호텔의 층 수, 각 층의 방 수, 몇 번째 손님인지를 나타낸다(1 ≤ H, W ≤ 99, 1 ≤ N ≤ H × W). 

- 출력

프로그램은 표준 출력에 출력한다. 각 테스트 데이터마다 정확히 한 행을 출력하는데, 내용은 N 번째 손님에게 배정되어야 하는 방 번호를 출력한다.

In [1]:
#왜 틀리지
for _ in range(int(input())):
    h,w,n=map(int,input().split())
    print(f"{n%h}{(n//h+1):02d}")

2
6 12 10
402
30 50 72
1203

In [2]:
for _ in range(int(input())):
    h,w,n=map(int,input().split())
    print(int(f"{n%h}{(n//h+1):02d}"))

1
6 12 10
402

In [3]:
for _ in range(int(input())):
    h,w,n=map(int,input().split())
    print("{0}{1:02d}".format(n%h,n//h+1))

1
6 12 10
402

In [9]:
for _ in range(int(input())):
    h,w,n=map(int,input().split())
    print(int(f"{n%h}{(n//h+1):02d}"))

1
6 12 6
601

In [25]:
[6]+list(range(1,6))

[6, 1, 2, 3, 4, 5]

In [29]:
def hotel(h,w,n):
    x=([h]+list(range(1,h)))[n%h]
    y=int((n-.1)//h)+1  #6의배수 몫 하나 줄이기 위해
    return int(f"{x}{y:02d}")
print(hotel(6,12,1))
print(hotel(6,12,2))
print(hotel(6,12,3))
print(hotel(6,12,4))
print(hotel(6,12,5))
print(hotel(6,12,6))
print(hotel(6,12,7))
print(hotel(6,12,8))
print(hotel(6,12,18))

101
201
301
401
501
601
102
202
603

In [32]:
#10250
#shortify
for _ in range(int(input())):
    h,w,n=map(int,input().split())
    print(int(f"{([h]+list(range(1,h)))[n%h]}{int((n-.1)//h)+1:02d}"))

2
6 12 10
402
30 50 72
1203

In [ ]:
#another code 그냥 주먹구구식같아
trial=int(input(''))
i=0
while i<trial:
    i+=1
    H,W,N=map(int,input('').split(' '))
    d=N//H+1
    e=N%H
    if e==0:
        e=H
        d-=1
    if len(str(d))==1:
        d='0'+str(d)
    print('{0}{1}'.format(str(e),d))

In [ ]:
#short code
#`~` : The bitwise inversion of x is defined as -(x+1).
#
exec('h,w,n=map(int,input().split());print(~-n//h+~-n%h*100+101);'*int(input()))
#exec 풀면
for _ in range(int(input()))::
        h,w,n=map(int,input().split())
        print(~-n//h + ~-n%h*100 + 101);

In [ ]:
#short code
for _ in range(int(input())):
    a,_,b=map(int,input().split())
    print(f'{~-b%a+1}{~-b//a+1:02}')

In [35]:
~-11//6

1

In [36]:
~6

-7

In [41]:
~-6

5

In [42]:
~-0

-1

In [44]:
~-1

0

In [45]:
~-2

1

In [46]:
~-3

2

In [47]:
~-4

3

In [48]:
~-5

4

## 9.6. 부녀회장이 될테야
- 문제

평소 반상회에 참석하는 것을 좋아하는 주희는 이번 기회에 부녀회장이 되고 싶어 각 층의 사람들을 불러 모아 반상회를 주최하려고 한다.

이 아파트에 거주를 하려면 조건이 있는데, “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다” 는 계약 조항을 꼭 지키고 들어와야 한다.

아파트에 비어있는 집은 없고 모든 거주민들이 이 계약 조건을 지키고 왔다고 가정했을 때, 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라. 단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.

- 입력

첫 번째 줄에 Test case의 수 T가 주어진다. 그리고 각각의 케이스마다 입력으로 첫 번째 줄에 정수 k, 두 번째 줄에 정수 n이 주어진다. (1 <= k <= 14, 1 <= n <= 14)

- 출력

각각의 Test case에 대해서 해당 집에 거주민 수를 출력하라.

In [53]:
for _ in range(int(input())):
    k,n=[int(input()) for _ in range(2)]
print(t,k,n)

1
2
3
1 2 3

In [2]:
#for _ in range(int(input())):
def tabl():
#    k,n=[int(input()) for _ in range(2)]
    f=[[]*14]
    f[0]=[i for i in range(1,14)]
    for k in range(1,14):
        for n in range(1,14):
            temp=[]
            temp.append(sum(f[k-1][:n]))
        f[k].append(temp)
    return f
    

print(tabl())

IndexError: list index out of range

In [5]:
print([[7]*14])

[[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]]

In [ ]:
f=np.zeros((14,14))
f[0,:]=[i for i in range(1,14)]

In [46]:
f=np.zeros((14,13))
f[0,:]=[i+1 for i in range(13)]
f[:,0]=1
sum(f[0][0:2])

3.0

In [50]:
#table 전체를 만드는 것. 그러나 시간계산 오래걸림.
import numpy as np
def tabl(n,m):
    f=np.zeros((n+1,m))
    f[0,:]=[i+1 for i in range(m)]
    f[:,0]=1
    for i in range(1,n+1):
        for j in range(1,m):
            f[i,j]=int(sum(f[i-1][0:j+1]))
    
    return f  #np.sort(f,axis=0)[::-1]
print(tabl(2,3))

[[ 1.  2.  3.]
 [ 1.  3.  6.]
 [ 1.  4. 10.]]

In [56]:
#런타임 에러
#2775
import numpy as np
def tabl(n,m):
    f=np.zeros((n+1,m))
    f[0,:]=[i+1 for i in range(m)]
    f[:,0]=1
    for i in range(1,n+1):
        for j in range(1,m):
            f[i,j]=int(sum(f[i-1][0:j+1]))
    return int(f[n,m-1])

for _ in range(int(input())):
    k=int(input())
    n=int(input())
    print(tabl(k,n))

2
1
3
6
2
3
10

In [57]:
tabl(4,5)

126

## 9.7. Fly me to the Alpha Centauri
- 문제

우현이는 어린 시절, 지구 외의 다른 행성에서도 인류들이 살아갈 수 있는 미래가 오리라 믿었다. 그리고 그가 지구라는 세상에 발을 내려 놓은 지 23년이 지난 지금, 세계 최연소 ASNA 우주 비행사가 되어 새로운 세계에 발을 내려 놓는 영광의 순간을 기다리고 있다.

그가 탑승하게 될 우주선은 Alpha Centauri라는 새로운 인류의 보금자리를 개척하기 위한 대규모 생활 유지 시스템을 탑재하고 있기 때문에, 그 크기와 질량이 엄청난 이유로 최신기술력을 총 동원하여 개발한 공간이동 장치를 탑재하였다. 하지만 이 공간이동 장치는 이동 거리를 급격하게 늘릴 경우 기계에 심각한 결함이 발생하는 단점이 있어서, 이전 작동시기에 k광년을 이동하였을 때는 k-1 , k 혹은 k+1 광년만을 다시 이동할 수 있다. 예를 들어, 이 장치를 처음 작동시킬 경우 -1 , 0 , 1 광년을 이론상 이동할 수 있으나 사실상 음수 혹은 0 거리만큼의 이동은 의미가 없으므로 1 광년을 이동할 수 있으며, 그 다음에는 0 , 1 , 2 광년을 이동할 수 있는 것이다. ( 여기서 다시 2광년을 이동한다면 다음 시기엔 1, 2, 3 광년을 이동할 수 있다. )

![img](https://www.acmicpc.net/upload/201003/rlaehdgur.JPG)

김우현은 공간이동 장치 작동시의 에너지 소모가 크다는 점을 잘 알고 있기 때문에 x지점에서 y지점을 향해 최소한의 작동 횟수로 이동하려 한다. 하지만 y지점에 도착해서도 공간 이동장치의 안전성을 위하여 y지점에 도착하기 바로 직전의 이동거리는 반드시 1광년으로 하려 한다.

김우현을 위해 x지점부터 정확히 y지점으로 이동하는데 필요한 공간 이동 장치 작동 횟수의 최솟값을 구하는 프로그램을 작성하라.

- 입력

입력의 첫 줄에는 테스트케이스의 개수 T가 주어진다. 각각의 테스트 케이스에 대해 현재 위치 x 와 목표 위치 y 가 정수로 주어지며, x는 항상 y보다 작은 값을 갖는다. ( 0 ≤ x < y < 231)

- 출력

각 테스트 케이스에 대해 x지점으로부터 y지점까지 정확히 도달하는데 필요한 최소한의 공간이동 장치 작동 회수를 출력한다.

(나)
패턴 분석함. 범위별 minimum value는 다음과 같다.
- ? < distance <= n^2까지   min=2(n-1)+1
- n^2 < distance <= n(n+1), min=2n
- 2n < distance <= (n+1)^2, min=2n+1

이를 코드로 짜면 다음과 같다.

if n^2 < distance <=n(n+1) : min=2n  
if n(n+1) < distance <= (n+1)^2 : min=2n+1

In [65]:
import math
n=math.floor(math.sqrt(4-.1))
n+1

2

In [78]:
#1011
#72ms
import math
def fly(d1,d2):
    d=d2-d1
    n=math.floor(math.sqrt(d-.1))
    if d>n*(n+1):out=2*n+1
    else:out=2*n
    return out
for _ in range(int(input())):
    d1,d2=map(int,input().split())
    print(fly(d1,d2))

3
0 3
3
1 5
3
45 50
4

In [ ]:
#another code 56ms
#1011
import sys
import math
input = sys.stdin.readline
for _ in range(int(input())):
    a, b = map(int, input().split())
    print(math.ceil(2*(b-a)**(0.5)-1))